/* Variable declaration */
:root {
    --primary-light: #ccc;
    --primary-background: #100f25;

    --border: 1px solid #333;
    --border-radius: 10px;

    --bg-size: 20px;
    --bg-primary: #080814;
    --bg-line: #0f0f0f;
}

/* Background & font */
html, body {
    width: 100%;
}

html {
    color: var(--primary-light);
}

html, input, textarea {
    font-family: "Quantico", sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;

    /* https://stackoverflow.com/a/50277867 */
    background:
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-primary) 23.5%, transparent 0) calc(var(--bg-size) * .7) var(--bg-size),
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-line) 24%, transparent 0) calc(var(--bg-size) * .6129) var(--bg-size),
        linear-gradient(var(--bg-primary) 14%, transparent 0, transparent 85%, var(--bg-primary) 0)0 0,
        linear-gradient(150deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(30deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(90deg, var(--bg-line) 2%, var(--bg-primary) 0, var(--bg-primary) 98%, var(--bg-line) 0%)0 0 var(--bg-primary);
        background-size:calc(var(--bg-size) * 1.333) calc(var(--bg-size) * 2);
}

/* Container */
.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-center-hor {
    justify-content: center;
}
.flex-center-ver {
    align-items: center;
}
.flex-columns {
    flex-direction: column;
}
.flex-break {
    flex-basis: 100%;
}

.text-center {
    text-align: center;
}

.container {
    display: block;
    width: 80%;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 15px;

    overflow: hidden;
}
@media (max-width: 1000px) {
    .container {
        width: 100%;
    }
}

.box {
    width: 400px;
    height: 500px;
}

/* Buttons */
a.button {
    text-decoration: none;
    display: inline-block;
}
button, .button {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--primary-light);
    padding: 10px;
    cursor: pointer;
    font-family: "Quantico", sans-serif;
    font-size: 1em;
}
button:hover, .button:hover {
    background-color: #28273057;
}
button.active, button:active {
    background-color: #4d4c55;
}
button:disabled, .button:disabled {
    cursor: not-allowed;
    background-color: #4d4c55;
}
button.big, .button.big {
    font-size: 2em;
}

/* Links */
a:not(.ignore):not(.ignore-half):not(.button) {
    color: rgb(212, 117, 117);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}
a:hover:not(.ignore):not(.ignore-half):not(.button) {
    color: rgb(117, 166, 212);
    text-decoration: none;
}
a.ignore {
    text-decoration: none;
    color: var(--primary-light);
    cursor: default;
}
a.ignore-half {
    color: var(--primary-light);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

/* Image effects */
.blur {
    filter: blur(20px);
    pointer-events: none;
}

/* Box */
.card {
    border: var(--border);
    border-radius: var(--border-radius);
    width: 400px;
    height: 430px;

    background-color: var(--bg-primary);
}
@media (max-width: 400px) {
    .card {
        width: 100%;
    }
}

.card-name {
    height: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.card-img {
    height: calc(400px / 1.26); /* itch.io thumbnail aspect ratio */
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
}
.card-img img {
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-position: center;
    object-fit: cover;
}
.card-img.top img { object-position: top; }
.card-img.bottom img { object-position: bottom; }
.card-img.left img { object-position: left; }
.card-img.right img { object-position: right; }

.card-text {
    padding: 10px;
}

.card-buttons {
    padding: 10px;
}

/* Gamejam filters */
.jam-filter {
    display: inline-block;
    width: 500px;
}
.jam-filter label {
    display: block;
}
@media (max-width: 1000px) {
    #jam-filters {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .jam-filter {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/* Screen */
#screen-container #canvas {
    height: 100%;
    width: 100%;

    /* GB Studio */
    object-fit: contain;
    image-rendering: pixelated;
}

#screen-container {
    width: 2000px;
    height: 1124px;
    position: relative;
    background-color: var(--primary-background);
    margin-bottom: 10px;
}
@media (max-width: 1000px) {
    #intro-quote-container {
        width: 100%;
    }
}

#screen-container #iframe-container {
    height: 100%;
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--primary-light) transparent;
    overflow-y: scroll;
}

#screen-container iframe {
    border: none;
    width: 100%;
    height: 650px;
}

#screen-container.fullscreen {
    height: 1000px;
}

/* Quote */
#intro-quote-container {
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 30px;

    position: relative;
}
@media (max-width: 1000px) {
    #intro-quote-container {
        width: 100%;
    }
}
#intro-quote {
    position: absolute;
    top: -12px;
    right: 5px;

    font-size: 13px;
    z-index: 1;
}

.svg-quote-icon {
  display: inline-block;
  height: 20px;
  vertical-align: -5px;
}

.svg-quote-icon > object {
  height: 100%;
  display: block;
}

/* Secrets */
.secret-quote {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}