/* Variable declaration */
:root {
    --primary-light: #ccc;
    --primary-background: #100f25;

    --border: 1px solid var(--primary-light);
    --border-radius: 10px;

    --bg-size: 20px;
    --bg-primary: #080814;
    --bg-line: #0f0f0f;
}

/* Background & font */
html, body {
    width: 100%;
}

html {
    color: var(--primary-light);
}

html, input, textarea {
    font-family: "Quantico", sans-serif;
}

body {
    margin: 0;

    /* https://stackoverflow.com/a/50277867 */
    background:
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-primary) 23.5%, transparent 0) calc(var(--bg-size) * .7) var(--bg-size),
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-line) 24%, transparent 0) calc(var(--bg-size) * .6129) var(--bg-size),
        linear-gradient(var(--bg-primary) 14%, transparent 0, transparent 85%, var(--bg-primary) 0)0 0,
        linear-gradient(150deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(30deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(90deg, var(--bg-line) 2%, var(--bg-primary) 0, var(--bg-primary) 98%, var(--bg-line) 0%)0 0 var(--bg-primary);
        background-size:calc(var(--bg-size) * 1.333) calc(var(--bg-size) * 2);
}

/* Container */
.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-center-hor {
    justify-content: center;
}
.flex-center-ver {
    align-items: center;
}

/* Computer */
#taskbar {
    position: absolute;
    bottom: 0;

    background-color: var(--bg-primary);
    height: 50px;
    width: 100%;

    border-top: 1px solid grey;
}
#screen {
    width: 100vw;
    height: 100vh;
}
#screen-main {
    height: calc(100% - 50px);
    padding: 20px;
}

.computer-icon {
    width: 50px;
    height: 50px;

    cursor: pointer;
    color: var(--primary-light);
    text-decoration: none;
}
.computer-icon .material-symbols-outlined {
    font-size: 50px;
}
.computer-icon label {
    text-align: center;
    font-size: 13px;
    overflow-x: hidden;
}