[submodule "data"]
	path = data
	url = https://github.com/Xwilarg/zirk.eu-data
[submodule "public/lifeline"]
	path = public/lifeline
	url = https://github.com/Xwilarg/Lifeline
[submodule "gamejam"]
	path = gamejam
	url = https://github.com/Xwilarg/zirk.eu-gamejam
[submodule "public/projects"]
	path = public/projects
	url = https://github.com/Xwilarg/zirk.eu-projects
